<a href="https://colab.research.google.com/github/alexandreherculano/sobreviventes_titanic_regressao_logistica/blob/main/sobreviventes_Titanic_regressao_logistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [ ]:
#importar dataset
titanic = pd.read_csv('/content/drive/My Drive/csv/titanic.csv')

In [29]:
#análie exploratória - top 5
titanic.head()

   Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children     Fare
0         0       3    male  22.0                 1                 0   7.2500
1         1       1  female  38.0                 1                 0  71.2833
2         1       3  female  26.0                 0                 0   7.9250
3         1       1  female  35.0                 1                 0  53.1000
4         0       3    male  35.0                 0                 0   8.0500

In [ ]:
#converter coluna sexo em booleano
titanic['male'] = titanic['Sex'] == 'male'

In [60]:
#variáveis de entrada 
X = titanic[['Pclass', 'male', 'Age', 'Siblings/Spouses', 'Parents/Children', 'Fare']]
#alvo
y = titanic['Survived']

In [86]:
#importar modelo e definir modelo 
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
#ajustar modelo
model.fit(X, y)
#predição
y_pred = model.predict(X)

In [92]:
#score do regressão logística
model.score(X, y)

0.8049605411499436

In [84]:
#inserção de novos dados - Jack Dawson
if model.predict([[3, True, 22, 1, 0, 0]]) == 0:
  print(0, '- não sobreviveu')
else:
  print(1, '- sobreviveu')

0 - não sobreviveu